<!DOCTYPE html>
<html>
    <head>
        <title>Weather Forecast</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body class="error">
        <h1 class="title">Error</h1>
        <p class="error-message">An error occurred when searching for the weather forecast. Make sure the location is valid.</p>
    </body>
</html>